fastapi==0.111.0
uvicorn==0.29.0
pydantic==2.7.1
gunicorn==22.0.0
opencv-python-headless==4.9.0.80
numpy
deepface
tf-keras
langchain==0.2.14
langchain-core==0.2.33
langchain-community==0.2.12
langchain-openai==0.1.22
langchain-chroma==0.1.4
chromadb==0.4.24
python-dotenv==1.0.1
duckduckgo-search==6.2.10
unstructured==0.15.0
pdf2image==1.17.0
pdfminer.six==20231228
scipy
